.bgimg{
    background-image:url("https://as2.ftcdn.net/v2/jpg/05/30/31/27/1000_F_530312728_KvXkE1mdjiRe7ldQjJED2dDNFHMfILYq.jpg") ;
    background-size: cover;
    height: 45vh;
    width:100vw;
}
.heading{
    font-size: 70px;
    color: aliceblue;
    text-align:center;
    padding:100px;
    margin-left: 200px;
}
.diwalibottom{
    background-color: cornsilk;
    background-size: cover;
    height:80vh;
}
.images{
    height: 120;
    width: 150px;
}
.diwalicard{
    background-color: lightcoral;
    height: 200px;
    width:200px;
    margin:15px;
    padding:6px;
    border-radius: 25px;
    text-align: center;
}
.head1{
    color: crimson;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.text{
    text-align: center;
}
